spring:
  datasource:
    url: jdbc:mysql://database-1.c9v46leqnkb2.ap-northeast-2.rds.amazonaws.com:3306/promisorDB-dev?serverTimezone=Asia/Seoul
    username: admin
    password: Kershaw22!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #        show_sql: true
        default_batch_fetch_size: 500
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace